body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #e56fe9, #a963d1, #c269e6);
    min-height: 100vh;
}

.title {
    height: 85px;
    background-color: rgb(36, 0, 78);

    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.title h1 {
    color: white;
    margin: 0;
    flex-grow: 1;
    text-align: center;
    letter-spacing: 2px;
}

/* Back Button */
.back-btn {
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 8px 15px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    background-color: #903ecb;
    border-radius: 15px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.back-btn:hover {
    background-color: #6f2c9c;
    transform: scale(1.05);
}

.payment-container {
    margin-top: 100px;
    margin-left: 500px;
    background: #24004e;
    color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    color: #a963d1;
    margin-bottom: 20px;
}

.order-summary {
    background: #24004e;
    color: white;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 10px;
}

.order-summary h2 {
    margin-top: 0;
    color: #c269e6;
}

.order-summary .price {
    font-size: 20px;
    color: white;
    margin-top: 10px;
}

.payment-form {
    display: flex;
    flex-direction: column;
    height:500px;
}

.payment-form label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #24004e;
}

.payment-form input,
.payment-form select,
.payment-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
}

.payment-form input:focus,
.payment-form select:focus,
.payment-form textarea:focus {
    border-color: #c269e6;
    box-shadow: 0 0 5px rgba(194, 105, 230, 0.5);
}

.pay-btn {
    margin-top: 20px;
    padding: 12px;
    font-size: 18px;
    background: #c269e6;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.pay-btn:hover {
    background: #a963d1;
    transform: scale(1.05);
}