body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #e56fe9, #a963d1, #c269e6);
}

.title {
  height: 85px;
  background-color: rgb(36, 0, 78);
  color: white;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title h1 {
  margin: 0;
  flex-grow: 1;
  text-align: center;
}
.back-btn {
    position: absolute;
     left: 20px;
     top: 20px;
     width: 80px;
     height: 30px;
     font-size: 22px;
     color: white;
     text-decoration: none;
     padding: 5px 5px;
     background-color: #903ecb;
     text-align: center;
     border-radius: 15px;
     transition: background-color 0.3s ease;
}

.back-btn:hover {
  background-color:  #6f2c9c;
}

.category-container {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  gap: 30px;
  padding: 30px 10%;
}


.category-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
  background-size: cover;
  background-position: center;
  text-decoration: none;
  background-color: white;
  transition: transform 0.3s ease;
  position: relative;
}


.category-card:hover {
  transform: scale(1.02);
}


.painting-text {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.sculpture-text {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.photo-text {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.digitart-text {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

/* Placeholder Backgrounds (Set your own images here) */
.painting {
  background-image: url("images/Painting02.jpg");
}

.sculpture {
  background-image: url("images/Sculpture02.jpg");
}

.photograph {
  background-image: url("images/fishing-photo.jpg");
}

.digital {
  background-image: url("images/Digital\ art01.jpg");
}