body{
background-color:rgb(217, 219, 95);
}
@font-face {
    font-family:'MemphisRiver';
    src: url(Memphis-River/Memphis\ River.otf);
}
*{
    margin:0px;
}
.title{
    margin-top: 10px;
    margin-left: 540px;
    font-size: 30px;
    font-family:'MemphisRiver';
}
#art{
    color:  rgb(255, 255, 255);
    display: inline;
    margin-right: 10px;
}
#gallery{
    color: rgb(0, 0, 0);
    display: inline;
}
.header{    
    background-color:rgb(180, 0, 0);
    display: flex;
    margin-top: 50px;
    padding: 20px;
}
.header ul{
    float: right;
}
.form tr td {
    padding-left:200px;
    display: inline;
    float: right;
}
.header ul li{
    display: inline;
    list-style:none;
    padding-left:145px;
}
.header ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family:'MemphisRiver';
    padding: 5px;
}
.header ul li a:hover{
    background-color: rgb(219, 221, 109);
    color: rgb(0, 0, 0);
    border-radius:20px;
}
.header input{
    border-radius: 20px;
    border: none;
    border-color: white;
    margin-left: 160px;
    width: 160px;
    height: 30px;
    text-align: center;
    margin-right: 5px;
}
.header button{
    height: 30px;
    width: 60px;
    border-radius:15px;
    background-color:black;
    color: white;
}
button:hover{
    background-color: rgb(217, 219, 95);
    color: rgb(0, 0, 0);
}
.content{
    background-color:rgb(217, 219, 95);
    font-family: Georgia, 'Times New Roman', Times, serif;   
}
.row1{
    padding-top: 100px;
    padding-left: 50px;
    margin-left: 80px;
  
}
.row2{
    padding-top: 150px;
    padding-left: 50px;
    margin-left: 80px;
}
.row3{
    padding-top: 150px;
    padding-left: 50px;
    margin-left: 80px;
}
.row4{
    padding-top: 150px;
    padding-left: 50px;
    margin-left: 80px;
}
.img1{
    height: 350px;
    width: 300px;
    background-color:rgb(255, 255, 255);
    margin-right: 200px;
    box-shadow: 6px 5px 20px 0px;
    display: inline-block; 
    padding: 30px;
}
.img1 h3{
    padding-top: 15px;
    text-align: center;
    font-size: 35px;
    font-family:'MemphisRiver';
}
.visit01{
    display: inline-block;
    padding: 15px;
    background-color:rgb(180, 0, 0);
    margin-top:  50px;
    margin-left: 250px;
    border-radius: 75px;
    border-color: rgb(180, 0, 0);
    color: rgb(255, 255, 255);
}
.visit02{
    display: inline-block;
    padding: 15px;
    background-color:rgb(180, 0, 0);
    margin-top:  50px;
    margin-left: 480px;
    border-radius: 75px;
    border-color: rgb(180, 0, 0);
    color: rgb(255, 255, 255);
}
.img2{
    height: 350px;
    width: 300px;
    background-color:rgb(255, 255, 255) ;
    margin-right: 200px;
    box-shadow: 6px 5px 20px 0px;
    display: inline-block;
    padding:30px;
}
.img2 h3{
    padding-top: 15px;
    text-align: center;
    font-size: 35px;
    font-family:'MemphisRiver';
}
.img3{
    height: 350px;
    width: 300px;
    background-color:rgb(255, 255, 255) ;
    margin-right: 200px;
    box-shadow: 6px 5px 20px 0px;
    display: inline-block;
    padding:30px;
}
.img3 h3{
    padding-top: 15px;
    text-align: center;
    font-size: 35px;
    font-family:'MemphisRiver';
}
.visit03{
    display: inline-block;  
    padding: 15px;
    background-color:rgb(180, 0, 0);
    margin-top:  50px;
    margin-left: 250px;
    border-radius: 75px;
    border-color: rgb(180, 0, 0);
    color: white;
}
.visit04{
    display: inline-block;
    padding: 15px;
    background-color:rgb(180, 0, 0);
    margin-top:  50px;
    margin-left: 480px;
    border-radius: 75px;
    border-color: rgb(180, 0, 0);
    color: white;
}
.img4{
    height: 350px;
    width: 300px;
    background-color:rgb(255, 255, 255) ;
    margin-right: 200px;
    box-shadow: 6px 5px 20px 0px;
    display: inline-block;
    padding:30px;
}
.img4 h3{
    padding-top: 15px;
    text-align: center;
    font-size: 35px;
    font-family:'MemphisRiver';
}
.img5{
    height: 350px;
    width: 300px;
    background-color:rgb(255, 255, 255) ;
    margin-right: 200px;
    box-shadow: 6px 5px 20px 0px;
    display: inline-block;
    padding:30px;
    
}
.img5 h3{
    padding-top: 15px;
    text-align: center;
    font-size: 35px;
    font-family:'MemphisRiver';
}
.visit05{
    display: inline-block;
    padding: 15px;
    background-color:rgb(180, 0, 0);
    margin-top:  50px;
    margin-left: 250px;
    border-radius: 75px;
    border-color: rgb(180, 0, 0);
    color: white;
}
.visit06{
    display: inline-block;
    padding: 15px;
    background-color:rgb(180, 0, 0);
    margin-top:  50px;
    margin-left: 480px;
    border-radius: 75px;
    border-color: rgb(180, 0, 0);
    text-size-adjust: 10px;
    color: white;
}
.img6{
    height: 350px;
    width: 300px;
    background-color:rgb(255, 255, 255) ;
    margin-right: 200px;
    box-shadow: 6px 5px 20px 0px;
    display: inline-block;
    padding:30px;
}
.img6 h3{
    padding-top: 15px;
    text-align: center;
    font-size: 35px;
    font-family:'MemphisRiver';
}
.img7{
    height: 350px;
    width: 300px;
    background-color:rgb(255, 255, 255) ;
    margin-right: 200px;
    box-shadow: 6px 5px 20px 0px;
    display: inline-block;
    padding:30px;
}
.img7 h3{
    padding-top: 15px;
    text-align: center;
    font-size: 35px;
    font-family:'MemphisRiver';
}
.visit07{
    display: inline-block;
    padding: 15px;
    background-color:rgb(180, 0, 0);
    margin-top:  50px;
    margin-left: 250px;
    border-radius: 75px;
    border-color: rgb(180, 0, 0);
    color: white;
}
.visit08{
    display: inline-block;
    padding: 15px;
    background-color:rgb(180, 0, 0);
    margin-top:  50px;
    margin-left: 480px;
    border-radius: 75px;
    border-color: rgb(180, 0, 0);
    color: white;
}
.img8{
    height: 350px;
    width: 300px;
    background-color:rgb(255, 255, 255) ;
    margin-right: 200px;
    box-shadow: 6px 5px 20px 0px;
    display: inline-block;
    padding:30px;
}
.img8 h3{
    padding-top: 15px;
    text-align: center;
    font-size: 35px;
    font-family:'MemphisRiver';
}       
.footer{
    margin-top: 200px;
    background-color: rgb(180, 0, 0);;
    color: white;
    padding: 10px;
    text-align: center;

}



