  body {
      background: linear-gradient(to right, #e56fe9, #9753be, #c269e6);
      height: 100%;
  }

  @font-face {
      font-family: 'MemphisRiver';
      src: url(Memphis-River/Memphis\ River.otf);
  }

  * {
      margin: 0px;
      padding: 0px;
  }

  .title {
      margin-top: 20px;
      margin-left: 20px;
      height: 40px;
      font-size: 20px;
      font-family: 'MemphisRiver';
  }

  #art {
      color: rgb(36, 0, 78);
      display: inline;
      margin-right: 10px;
  }

  #gallery {
      color: rgb(36, 0, 78);
      display: inline;
  }

  .header {
      background-color: rgb(36, 0, 78);
      display: flex;
      margin-top: 50px;
      padding: 10px;
  }

  .header ul {
      float: right;
  }

  .header ul li {
      display: inline-flex;
      font-family: 'Segoe UI', sans-serif;
      list-style: none;
      padding-left: 10px;
      margin-right: 10px;
  }

  .header ul li a {
      text-decoration: none;
      color: #d2aaff;
      font-size: 20px;
      font-family: Arial, sans-serif;
      padding: 10px;
  }

  .header ul li a:hover {
      color: rgb(255, 255, 255);
      transform: scale(1.10);
  }

  .dropdown {
      position: relative;
  }

  .dropdown-menu {
      display: none;
      position: absolute;
      background-color: rgb(36, 0, 78);
      border-radius: 10px;
      padding: 0;
      margin: 0;
      list-style: none;
      top: 100%;
      left: 0;
      min-width: 150px;
      min-height: 100px;
      z-index: 999;
  }

  .dropdown-menu li a {
      display: block;
      padding: 60px;
      color: rgb(36, 0, 78);
      text-decoration: none;
      white-space: nowrap;
  }

  .dropdown-menu li a:hover {
      display: block;
      width: 110%;
      color: rgb(36, 0, 78);
      border-radius: 8px;
      transform: scale(1.02);
  }


  .dropdown:focus-within .dropdown-menu {
      display: block;
  }

  .header input {
      border-radius: 15px;
      border: none;
      margin: 5px;
      margin-left: 500px;
      width: 180px;
      height: 28px;
       padding: 0px;
      text-align: center;
      margin-right: 10px;
    
  }
  input #search-btn
  {
      display: inline-flex;
  }
   #search-btn{
    margin-top: 5px;
   }

  .header #search-btn {
      border: none;
      outline: none;
      height: 30px;
      width: 37px;
      padding: 5px;
      border-radius: 25px;
      background-color: #d2aaff;
      margin-right: 40px;
      cursor: pointer;
  }

  #search-btn:hover {
      background-color: #a963d1;
  }

  .content {
      background: linear-gradient(to right, #e56fe9, #a963d1, #c269e6);
      font-family: Georgia, 'Times New Roman', Times, serif;
      height: 100%;
  }

  .row1,
  .row2,
  .row3,
  .row4,
  .row5,
  .row6,
  .row7 {
      padding-top: 150px;
      padding-left: 48px;
      margin-left: 150px;
  }

  .img1,
  .img2,
  .img3,
  .img4,
  .img5,
  .img6,
  .img7,
  .img8,
  .img9,
  .img10,
  .img11,
  .img12,
  .img13,
  .img14 {
      height: 350px;
      width: 300px;
      background-color: rgb(255, 255, 255);
      margin-right: 200px;
      box-shadow: 6px 5px 20px 0px;
      display: inline-block;
      padding: 30px;
      border-radius: 30px;
  }

  .img1 h3,
  .img2 h3,
  .img3 h3,
  .img4 h3,
  .img5 h3,
  .img6 h3,
  .img7 h3,
  .img8 h3,
  .img9 h3,
  .img10 h3,
  .img11 h3,
  .img12 h3,
  .img13 h3,
  .img14 h3 {
      padding-top: 15px;
      text-align: center;
      font-size: 25px;
      font-family: 'Segoe UI', sans-serif;
  }
  

  .view01,
  .view03,
  .view05,
  .view07,
  .view09,
  .view11,
  .view13 {
      display: inline-block;
      width: 335px;
      padding: 15px;
      background-color: rgb(36, 0, 78);
      margin-top: 50px;
      margin-left: 200px;
      margin-right: 195px;
      border-radius: 18px;
      border: none;
      text-align: center;
      color: white;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      font-family: Arial, Helvetica, sans-serif;
  }

  .view02,
  .view04,
  .view06,
  .view08,
  .view10,
  .view12 {
      display: inline-block;
      width: 335px;
      padding: 15px;
      background-color: rgb(36, 0, 78);
      margin-top: 50px;
      border-radius: 18px;
      border-color: rgb(1, 0, 78);
      text-align: center;
      color: white;
      text-decoration: none;
      cursor: pointer;
      transition: background-color 0.3s ease;
      font-family: Arial, Helvetica, sans-serif;
  }

  .view14 {
      display: inline-block;
      width: 335px;
      padding: 15px;
      background-color: rgb(36, 0, 78);
      margin-top: 50px;
      border-radius: 18px;
      border-color: rgb(1, 0, 78);
      color: rgb(255, 255, 255);
      cursor: pointer;
      margin-bottom: 200px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      font-family: Arial, Helvetica, sans-serif;
  }
  
  .view14 :hover {
      background-color: rgb(27, 0, 56);
  }

  .footer {
      background: linear-gradient(to right, rgb(36, 0, 78), rgb(1, 0, 41));
      height: 130px;
      color: rgb(255, 255, 255);
  }

  .footer .call {
      display: flex;
      padding-top: 50px;
      background-color: rgb(36, 0, 78);
      margin-left: 30px;
  }

  #call-img {
      margin-right: 10px;
      background-color: #11d864;
      border-radius: 25px;
  }

  #contact {
      font-family: 'Segoe UI';
      font-size: 20px;
      margin-right: 10px;
      margin-right: 700px;
  }

  #insta-img {
      margin-right: 100px;
  }

  #fb-img {
      margin-right: 100px;
  }

  #X-img {
      margin-right: 50px;
      background-color: white;
      border-radius: 4px;
  }

  .mailid {
      font-family: 'Segoe UI';
      font-size: 20px;
      display: flex;
      background-color: rgb(36, 0, 78);
      padding-top: 20px;
      margin-left: 0px;
  }

  .footer .copyright {
      font-family: 'Segoe UI', sans-serif;
      font-size: 20px;
      display: flex;
      justify-content: center;
      padding-bottom: 30px;
      background-color: rgb(36, 0, 78);
  }

  #gmail-img {
      margin-left: 30px;
      margin-right: 10px;
  }

  #cp-img {
      background-color: rgb(196, 187, 187);
      display: block;
      margin-top: 4px;
      border-radius: 25px;
      margin-right: 10px;
  }